.title {
    font-family: 'Chalkduster', sans-serif;
    color: cadetblue;
    text-align: center;
}

.text {
    font-family: sans-serif;
    color: darkslategray;
}

#deaths_barchart {
    padding-left: 40px;
    padding-right: 100px;
}

#region_piechart {
    position: absolute;
}

#cost_barchart {
    padding-left: 40px;
    padding-right: 100px;
}

#cost_linechart {
    position: absolute;
}

#avg_deaths_barchart {
    padding-left: 40px;
    padding-right: 100px;
}

#dtype_piechart {
    position: absolute;
}

.storms {
    color: #B99D95;
    font-weight: bold;
}

.floods {
    color: #AEDD92;
    font-weight: bold;
}

.droughts {
    color: #B8C7E5;
    font-weight: bold;
}

.earthquakes {
    color: #E18534;
    font-weight: bold;
}

.extreme_temp {
    color: #5E9D3D;
    font-weight: bold;
}

.africa {
    color: #5F77A4;
    font-weight: bold;
}

.americas {
    color: #DA8A37;
    font-weight: bold;
}

.asia {
    color: #C7605B;
    font-weight: bold;
}

.europe {
    color: #8BB5B2;
    font-weight: bold;
}

.oceania {
    color: #70A055;
    font-weight: bold;
}