#title {
    font-family: 'Chalkduster', sans-serif;
    color: cadetblue;
}

.text {
    font-family: sans-serif;
    color: darkslategray;
}

.text_1 {
    font-family: sans-serif;
    color: darkslategray;
    float: left;
    width: 60%;
}

.text_2 {
    font-family: sans-serif;
    color: darkslategray;
    float: left;
    width: 25%;
}

.storms {
    color: #87E695;
    font-weight: bold;
}

.floods {
    color: #E3914B;
    font-weight: bold;
}